<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<context:property-placeholder location="classpath:db.properties"/>
	<!-- 扫描注解 javabean、service、dao、respoitory -->
	<context:component-scan base-package="com.hcc.ssmdemo.*"></context:component-scan>
	
	<!--c3p0数据源  /以后可以试试druid(德鲁伊)数据源-->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	<!--注册SqlSessionBeanFactory  -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<!-- 扫描mapper配置文件 -->
		<property name="mapperLocations" value="classpath:com/hcc/ssmdemo/mapper/*.xml"></property>
		<!-- 扫描总配置文件 -->
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>
	<!--Mapper扫描器  -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!--Mapper接口所在的包  -->
		<property name="basePackage" value="com.hcc.ssmdemo.mapper"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>
</beans>
