<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcc.ssmdemo.mapper.UserMapper">
	<resultMap type="u" id="userMap">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="age" column="age"/>
		<result property="birthday" column="birthday"/>
		<association property="type" javaType="ut">
			<result column="typeName" property="typeName"/>
		</association>
	</resultMap>
	<select id="getAllUser" resultMap="userMap">
		select * from tb_user,tb_type where tb_user.typeid = tb_type.id
	</select>
</mapper>